# Build outputs
build/
dist/
site/
.build/

# Python
__pycache__/
*.pyc
garden_venv/
bin/

# Project temp/test
test/
tmp/

# IDE
.idea/

# macOS
.DS_Store

# API data
imagedb-api/database-response/*.json
imagedb-api/pages-response/*.json
imagedb-api/images/

# Compiler build
md_compiler/build/
.firebase/
.firebase/hosting.YnVpbGQ.cache
