<html>
    <head>
        <title>AKK - Digital Library</title>
        
        <!--
        FANCY TREE
        <script src="/static/jquery.min.js"></script>
        <script src="/static/fancytree/fancytree.js"></script>
        -->
    
        <script type="module" crossorigin src="/static/nav/index.js"></script>
        <link href="/static/nav/index.css" rel="stylesheet" />

        <script>
            window.MathJax = {
                tex: {
                    packages: { "[+]": ["ams"] },
                    inlineMath: [
                        ["$", "$"],
                        ["\\(", "\\)"],
                    ],
                    displayMath: [
                        ["$$", "$$"],
                        ["\\[", "\\]"],
                    ],
                },
            };
        </script>

        <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
        <link href="/static/fancytree/styles.css" rel="stylesheet"/>
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
            rel="stylesheet"
        />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

        <link href="/static/built-in.css" rel="stylesheet" />
        <link href="/static/code-styles.css" rel="stylesheet" />
        <link href="/static/styles.css" rel="stylesheet" />
    </head>

    <body>
        <header>
            <div>
                <span>AKK</span>
            </div>
            <div>
                <button>Read Mode</button>
                <a href="/static/imagedb.html">ImageDb</a>
                <a href="#">Networking</a>
            </div>
        </header>
        <main>
            <div id="nav"></div>

            <div class="content">
                <h1 class="content-title">{{ title }}</h1>
                <p class="content-date">{{ date }}</p>
                <p class="divider"></p>
                {{ content }}
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>

            <div class="tree-meta">
                <h3>Metadata</h3>
                <h4>Links</h4>
                <div class="sources">{{ links }}</div>
                <h4>Sources</h4>
                <div class="sources">{{ sources }}</div>
                <h4>Table of Content</h4>
                {{ toc }}
            </div>
        </main>

        <script>
            let nav_source_str = `{{ nav }}`;
            let nav_source = JSON.parse(nav_source_str || "null");
            console.log(nav_source)
            document.addEventListener("DOMContentLoaded", function () {
                $("#tree").fancytree({
                    toggleEffect: false,
                    clickFolderMode: 2,
                    extensions: ["persist"],
                    persist: {
                        store: "local", // "cookie", "local" (localStorage), "session"
                        types: "expanded selected", // which states to store
                        // overrideSource: false, // restore initial state
                        cookiePrefix: "fancytree-",
                        cookie: { expires: 365 },
                        expandLazy: true, // expand lazy nodes when restoring
                    },
                    source: nav_source,
                    renderNode: function (event, data) {
                        let expander = data.node.span.querySelector(
                            ".fancytree-expander",
                        );
                        if (expander) {
                            expander.remove();
                        }

                        const onTreeItemClick = (e) => {
                            console.log(e, "clicked");
                            // e.preventDefault()
                            e.stopPropagation();
                        };

                        let title =
                            data.node.span.querySelector(".fancytree-title");
                        if (title) {
                            title.classList.add("text-sm");
                        }
                        if (title && data.node.data.href) {
                            title.innerHTML = `<a href="${data.node.data.href}" class="tree-link">${data.node.title}</a>`;
                            const link = title.querySelector("a");
                            link.addEventListener("click", onTreeItemClick);
                        }

                        let iconSpan = data.node.span.querySelector(
                            'span[role="presentation"]',
                        );
                        if (iconSpan) {
                            console.log(iconSpan);
                            iconSpan.innerHTML = data.node.icon;
                            iconSpan.classList.add("material-icons-round");

                            if (data.node.folder) {
                                if (data.node.expanded) {
                                    iconSpan.innerHTML = "folder_open";
                                } else {
                                    iconSpan.innerHTML = "folder";
                                }
                            } else {
                                if (data.node.icon) {
                                    iconSpan.classList.add(data.node.icon);
                                } else {
                                    iconSpan.classList.add("fa-file");
                                }
                            }
                        }
                        data.node.span.classList.add("tree-item-hover");
                    },
                });

                // Divider
                const elements = document.querySelectorAll(".divider");
                const char = "░";

                const temp = document.createElement("span");
                temp.innerText = char;
                document.body.appendChild(temp);

                const charWidth = temp.offsetWidth;
                document.body.removeChild(temp);

                elements.forEach((el) => {
                    const parentWidth = el.offsetWidth;
                    const count = Math.floor(parentWidth / charWidth);
                    el.innerText = char.repeat(count + 3);
                });
            });
        </script>
    </body>
</html>
