<html>
    <head>
        <title>AKK - Digital Library</title>
        
        <!--
        FANCY TREE
        <script src="/static/jquery.min.js"></script>
        <script src="/static/fancytree/fancytree.js"></script>
        -->
    
        <script type="module" crossorigin src="/static/nav/index.js"></script>
        <link href="/static/nav/index.css" rel="stylesheet" />

        <script>
            window.MathJax = {
                tex: {
                    packages: { "[+]": ["ams"] },
                    inlineMath: [
                        ["$", "$"],
                        ["\\(", "\\)"],
                    ],
                    displayMath: [
                        ["$$", "$$"],
                        ["\\[", "\\]"],
                    ],
                },
            };
        </script>

        <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
        <link href="/static/fancytree/styles.css" rel="stylesheet"/>
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
            rel="stylesheet"
        />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

        <link href="/static/built-in.css" rel="stylesheet" />
        <link href="/static/code-styles.css" rel="stylesheet" />
        <link href="/static/styles.css" rel="stylesheet" />
    </head>

    <body>
        <header>
            <div>
                <span>AKK</span>
            </div>
            <div>
                <button>Read Mode</button>
                <a href="/static/imagedb.html">ImageDb</a>
                <a href="#">Networking</a>
            </div>
        </header>
        <main>
            <div id="nav"></div>

            <div class="content">
                <h1 class="content-title">{{ title }}</h1>
                <p class="content-date">{{ date }}</p>
                <p class="divider"></p>
                {{ content }}
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>

            <div class="tree-meta">
                <h3>Metadata</h3>
                <h4>Links</h4>
                <div class="sources">{{ links }}</div>
                <h4>Sources</h4>
                <div class="sources">{{ sources }}</div>
                <h4>Table of Content</h4>
                {{ toc }}
            </div>
        </main>
        

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Divider
                const elements = document.querySelectorAll(".divider");
                const char = "░";

                const temp = document.createElement("span");
                temp.innerText = char;
                document.body.appendChild(temp);

                const charWidth = temp.offsetWidth;
                document.body.removeChild(temp);

                elements.forEach((el) => {
                    const parentWidth = el.offsetWidth;
                    const count = Math.floor(parentWidth / charWidth);
                    el.innerText = char.repeat(count + 3);
                });
            });
        </script>

    </body>
</html>
